{% extends "social/_layouts/base" %}

{% set nav = null %}

{% if currentUser %}
    {% set nav = {
        home: {
            label: "Home"|t('app'),
            url: url('social'),
        },
        profile: {
            label: "Profile"|t('app'),
            url: url('social/profile')
        },
        email: {
            label: "Email"|t('app'),
            url: url('social/email')
        },
        password: {
            label: "Password"|t('app'),
            url: url('social/password')
        },
        socialLogin: {
            label: "Social Login"|t('app'),
            url: url('social/social-login')
        },
    } %}
{% endif %}

{% if not selectedNav is defined %}
    {% set selectedNav = false %}
{% endif %}

{% block body %}
    <nav class="bg-white shadow px-8" role="navigation">
        <div class="container mx-auto flex items-center justify-between">
            <a class="font-bold text-gray-900" href="{{url('social')}}">{{ "Social Demo"|t('app') }}</a>

            {% if nav %}
                <ul class="flex -mx-4 text-sm font-medium">
                    {% for key, item in nav %}
                        <li class="mx-4">
                            <a class="inline-block px-1 py-4 border-b-2 {% if key == selectedNav %}border-blue-500 text-black{% else %}border-transparent hover:border-gray-200 text-gray-500 hover:text-gray-700{% endif %}" href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <ul class="flex text-sm font-medium">
                {% if currentUser is null %}
                    <li><a class="inline-block px-1 py-4 text-gray-500 hover:text-gray-700" href="{{ url('social/login') }}">{{ "Login"|t('app') }}</a></li>
                {% else %}
                    <li><a class="inline-block px-1 py-4 text-gray-500 hover:text-gray-700" href="{{ logoutUrl }}">{{ "Logout"|t('app') }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% include 'social/_includes/notifications' %}

    {% if extraPageHeaderHtml is defined %}
        <div id="extra-headers">
            {{ extraPageHeaderHtml }}
        </div>
    {% endif %}

    <div class="max-w-xl mx-auto py-12">
        <div class="">
            <div class="">
                {% if tabs is defined and tabs %}
                    <ul class="nav nav-tabs">
                        {% for tabId, tab in tabs %}
                            {% if tab %}
                                {% set tabIsSelected = ((selectedTab is not defined and loop.first) or (selectedTab is defined and selectedTab == tabId)) -%}

                                {% if tabIsSelected and title != tab.label %}
                                    {% set title = title~' - '~tab.label %}
                                {%endif -%}

                                <li class="{% if tabIsSelected %}active{% endif %}"><a id="tab-{{ tabId }}" class="{% if tab.class is defined %} {{ tab.class }}{% endif %}" href="{{ tab.url }}">{{ tab.label }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                <header>
                    {% block extraHead %}
                    {% endblock %}
                </header>

                <div class="">
                    <div class="">
                        <main role="main">
                            {% block main %}
                            {% endblock %}
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
