{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% extends "social/_layouts/site" %}
{% import "social/_includes/forms" as forms %}

{% set selectedNav = 'email' %}

{% if user is not defined %}
    {% set user = currentUser %}
{% endif %}

{% block main %}
    <div class="max-w-xl mx-auto">
        <h1 class="text-3xl font-bold">Email</h1>

        {% if not user.password %}
            <p>To change your email address, <a
                        href="{{ url('social/password') }}">set your
                    password</a> first.</p>
        {% endif %}

        {% if user.unverifiedEmail %}
            <div class="alert alert-info">
                <p>Confirm your new email by clicking on the link we have just
                    sent you at this address:
                    <strong>{{ user.unverifiedEmail }}</strong></p>
            </div>
        {% endif %}

        <form method="post" class="mt-6 bg-white px-12 py-8 rounded-lg shadow">
            <input type="hidden" name="action" value="users/save-user">
            <input type="hidden" name="userId" value="{{ user.id }}">
            {{ redirectInput('social/email') }}

            {{ forms.textField({
                class: 'w-full',
                label: "Email",
                id: "email",
                name: "email",
                value: user.email,
                errors: user.getErrors('email'),
                disabled: user.password ? false : true
            }) }}

            {{ forms.passwordField({
                fieldClass: 'mt-2',
                class: 'w-full',
                label: "Verify Password",
                id: "password",
                name: "password",
                errors: user.getErrors('password'),
                disabled: user.password ? false : true
            }) }}

            {{ forms.button({
                type: 'submit',
                style: 'submit',
                class: 'mt-6',
                value: 'Update Email Address',
                disabled: user.password ? false : true
            }) }}
        </form>
    </div>
{% endblock %}
