{% if not currentUser %}
	{% redirect 'social/login' %}
{% endif %}

{% extends "social/_layouts/site" %}
{% import "social/_includes/forms" as forms %}

{% set selectedNav = 'email' %}

{% if user is not defined %}
    {% set user = currentUser %}
{% endif %}

{% block main %}
	<h2>Email</h2>

	{% if not user.password %}
		<p>To change your email address, <a href="{{ url('social/password') }}">set your password</a> first.</p>
	{% endif %}

	{% if user.unverifiedEmail %}
		<div class="alert alert-info">
			<p>Confirm your new email by clicking on the link we have just sent you at this address: <strong>{{ user.unverifiedEmail }}</strong></p>
		</div>
	{% endif %}

	<form method="post">
		<input type="hidden" name="action" value="users/save-user">
		<input type="hidden" name="userId" value="{{ user.id }}">
		{{ redirectInput('social/email') }}

        {{ forms.textField({
            label: "Email",
            id: "email",
            name: "email",
            value: user.email,
            errors: user.getErrors('email'),
			disabled: user.password ? false : true
        }) }}

        {{ forms.passwordField({
            label: "Verify Password",
            id: "password",
            name: "password",
            errors: user.getErrors('password'),
			disabled: user.password ? false : true
        }) }}

		<input type="submit" class="btn btn-primary" value="Update Email Address" {{ not user.password ? 'disabled="true"' }}>
	</form>
{% endblock %}
