{% extends "social/_layouts/site" %}
{% import "social/_includes/forms" as forms %}

{% if currentUser %}
    {% redirect 'social' %}
{% endif %}

{% block main %}
    <h1 class="text-3xl font-bold">Reset your password</h1>

    <div class="mt-6 bg-white px-12 py-8 rounded-lg shadow">
        <form method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            {{ actionInput('users/send-password-reset-email') }}
            {{ redirectInput('social/login') }}

            {{ forms.textField({
                class: 'w-full',
                label: "Email",
                id: "loginName",
                name: "loginName",
                value: loginName ?? craft.app.user.rememberedUsername,
            }) }}

            {{ forms.button({
                type: 'submit',
                style: 'submit',
                class: 'mt-6',
                value: 'Submit',
            }) }}
        </form>
    </div>
{% endblock main %}
