{% extends "social/_layouts/site" %}

{% if currentUser %}
    {% redirect 'social' %}
{% endif %}

{% block main %}

    <h1>Forgot your password ?</h1>

    <form method="post" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/sendPasswordResetEmail">
        <input type="hidden" name="redirect" value="social/login">

        <div class="form-group">
            <label for="loginName">Email</label>
            <input type="text"  class="form-control" id="loginName" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">
        </div>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

{% endblock main %}
