{% extends "social/_layouts/site" %}

{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% set selectedNav = 'home' %}

{% block main %}
    <div class="masthead text-center">
        {% if currentUser.photo %}
            {% set photoUrl = currentUser.photo.url %}
        {% else %}
            {% set photoUrl = view.getAssetManager().getPublishedUrl('@dukt/social', true)~'/icons/defaultuser.svg' %}
        {% endif %}
        
        <img src="{{ photoUrl }}" class="inline-block w-24 h-24 rounded-full" />

        <h1 class="mt-4 text-3xl font-bold">{{ "Hello, {name} !"|t('app', { name: currentUser.friendlyName }) }}</h1>

        <p class="mt-2">{{ "You are connected to the Social Login demo."|t('app') }}</p>
    </div>
{% endblock main %}
