{% if currentUser %}
    {% redirect 'social' %}
{% endif %}

{% extends "social/_layouts/site" %}

{% set title = "Login" %}

{% import "social/_includes/forms" as forms %}

{% block main %}
    <div class="">
        <div class="container mx-auto py-12">
            <div class="text-center">
                <h2 class="text-3xl font-bold">{{ "Sign in to your account"|t }}</h2>
                <p class="mt-4">{{ 'Don’t have an account? <a href="{url}">Register</a>.'|t('site', { url: url('social/register') })|raw }}</p>
            </div>

            <div class="bg-white max-w-md mx-auto px-10 py-8 rounded-lg mt-8 shadow">
                <form method="post" action="" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="users/login">
                    {{ redirectInput('social') }}

                    <div class="space-y-4">
                        {{ forms.textField({
                            class: 'w-full',
                            label: "Username or email"|t,
                            id: "loginName",
                            name: "loginName",
                            value: craft.app.user.rememberedUsername,
                        }) }}

                        {{ forms.textField({
                            class: 'w-full',
                            label: "Password"|t,
                            id: "password",
                            name: "password",
                            type: 'password',
                        }) }}
                    </div>

                    <div class="mt-6 flex justify-between">
                        <div class="flex items-center">
                            {{ input('checkbox', 'rememberMe', '1', {
                                class: 'form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out'
                            }) }}

                            <label for="rememberMe" class="ml-2 block text-sm leading-5 text-gray-900">
                                {{ "Remember me"|t }}
                            </label>
                        </div>

                        <div class="text-sm leading-5">
                            <a href="{{ url('social/forgot-password') }}">{{ "Forgot your password?"|t }}</a>
                        </div>
                    </div>

                    <div class="mt-6">
                        {{ forms.button({
                            type: 'submit',
                            style: 'submit',
                            class: 'w-full',
                            value: 'Sign in with Craft'|t,
                        }) }}
                    </div>

                    <div class="text-center text-sm mt-6 text-gray-500">{{ "Or continue with…"|t }}</div>

                    {% include 'social/_includes/social-login-buttons' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

