{% if currentUser %}
    {% redirect 'social' %}
{% endif %}

{% extends "social/_layouts/site" %}

{% set title = "Login" %}

{% block main %}
    <div class="">
        <div class="container mx-auto py-12">
            <div class="text-center">
                <h2 class="text-3xl font-bold">Sign in to your account</h2>
                <p class="mt-4">Don't have an account? <a href="{{ url('social/register') }}">Register</a>.</p>
            </div>

            <div class="bg-white max-w-md mx-auto px-10 py-8 rounded-lg mt-8 shadow">
                <form method="post" action="" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="users/login">
                    {{ redirectInput('social') }}

                    <div>
                        <label class="block text-sm font-medium leading-5 text-gray-700" for="loginName">Email address</label>
                        <div class="mt-1">
                            <input name="loginName" type="text" class="w-full" id="loginName" placeholder="Enter username or email" value="{{ craft.app.user.rememberedUsername }}">
                        </div>
                    </div>

                    <div class="mt-6">
                        <label class="block text-sm font-medium leading-5 text-gray-700" for="password">Password</label>
                        <div class="mt-1">
                            <input name="password" type="password" placeholder="Enter password" class="w-full" id="password">
                        </div>
                    </div>

                    <div class="mt-6 flex justify-between">
                        <div class="flex items-center">
                            {{ input('checkbox', 'rememberMe', '1', {
                                class: 'form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out'
                            }) }}

                            <label for="rememberMe" class="ml-2 block text-sm leading-5 text-gray-900">
                                Remember me
                            </label>
                        </div>

                        <div class="text-sm leading-5">
                            <a href="{{ url('social/forgot-password') }}">Forgot your password?</a>
                        </div>
                    </div>

                    <div class="mt-6">
                        <input type="submit"
                               class="cursor-pointer w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out"
                               value="Sign in with Craft">
                    </div>

                    <div class="text-center text-sm mt-6 text-gray-500">Or continue with…</div>

                    {% include 'social/_includes/social-login-buttons' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

