{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% extends "social/_layouts/site" %}
{% import "social/_includes/forms" as forms %}

{% set selectedNav = 'password' %}

{% if user is not defined %}
    {% set user = currentUser %}
{% endif %}

{% block main %}

    <h1 class="text-3xl font-bold">{{ "Password"|t }}</h1>

    <div class="mt-6 bg-white px-12 py-8 rounded-lg shadow">
        {% if user.password %}
            <form method="post">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="users/save-user">
                <input type="hidden" name="userId" value="{{ user.id }}">
                {{ redirectInput('social/password') }}

                {{ forms.passwordField({
                    class: 'w-full',
                    label: "Current Password"|t,
                    id: "password",
                    name: "password",
                    errors: user.getErrors('currentPassword'),
                }) }}

                {{ forms.passwordField({
                    fieldClass: 'mt-2',
                    class: 'w-full',
                    label: "New Password"|t,
                    id: "newPassword",
                    name: "newPassword",
                    errors: user.getErrors('newPassword'),
                }) }}

                {{ forms.button({
                    type: 'submit',
                    style: 'submit',
                    class: 'mt-6',
                    value: 'Update Password'|t,
                }) }}
            </form>
        {% else %}
            <form method="post">
                {{ csrfInput() }}
                <input type="hidden" name="action"
                       value="users/send-password-reset-email">
                <input type="hidden" name="loginName" value="{{ user.email }}">

                <p>{{ "Your password has not been set yet."|t }}</p>

                {{ forms.button({
                    type: 'submit',
                    style: 'submit',
                    class: 'mt-6',
                    value: 'Set Your Password'|t,
                }) }}
            </form>
        {% endif %}
    </div>
{% endblock %}
