{% if not currentUser %}
	{% redirect 'social/login' %}
{% endif %}

{% extends "social/_layouts/site" %}
{% import "social/_includes/forms" as forms %}

{% set selectedNav = 'password' %}

{% if user is not defined %}
    {% set user = currentUser %}
{% endif %}

{% block main %}

	<h1 class="text-3xl font-bold">Password</h1>

	<div class="mt-6 bg-white px-12 py-8 rounded-lg shadow">
		{% if user.password %}
			<form method="post">
				{{ csrfInput() }}
				<input type="hidden" name="action" value="users/save-user">
				<input type="hidden" name="userId" value="{{ user.id }}">
				{{ redirectInput('social/password') }}

				{{ forms.passwordField({
					class: 'w-full',
					label: "Current Password",
					id: "password",
					name: "password",
					errors: user.getErrors('currentPassword'),
				}) }}

				{{ forms.passwordField({
					fieldClass: 'mt-2',
					class: 'w-full',
					label: "New Password",
					id: "newPassword",
					name: "newPassword",
					errors: user.getErrors('newPassword'),
				}) }}

				{{ forms.button({
					class: 'mt-6',
					type: 'submit',
					value: 'Update Password',
				}) }}
			</form>
		{% else %}
			<form method="post">
				{{ csrfInput() }}
				<input type="hidden" name="action" value="users/send-password-reset-email">
				<input type="hidden" name="loginName" value="{{ user.email }}">

				<p>Your password has never been set yet.</p>

				{{ forms.button({
					class: 'mt-6',
					type: 'submit',
					value: 'Set Your Password',
				}) }}
			</form>
		{% endif %}
	</div>
{% endblock %}
