{% if not currentUser %}
	{% redirect 'social/login' %}
{% endif %}

{% extends "social/_layouts/site" %}
{% import "social/_includes/forms" as forms %}

{% set selectedNav = 'password' %}

{% if user is not defined %}
    {% set user = currentUser %}
{% endif %}

{% block main %}
	<h2>Password</h2>

	{% if user.password %}
		<form method="post">
            {{ csrfInput() }}
			<input type="hidden" name="action" value="users/save-user">
			<input type="hidden" name="userId" value="{{ user.id }}">
			{{ redirectInput('social/password') }}

            {{ forms.passwordField({
                label: "Current Password",
                id: "password",
                name: "password",
                errors: user.getErrors('currentPassword'),
            }) }}

            {{ forms.passwordField({
                label: "New Password",
                id: "newPassword",
                name: "newPassword",
                errors: user.getErrors('newPassword'),
            }) }}

			<input type="submit" class="btn btn-primary" value="Update Password">
		</form>
	{% else %}
		<form method="post">
            {{ csrfInput() }}
			<input type="hidden" name="action" value="users/send-password-reset-email">
			<input type="hidden" name="loginName" value="{{ user.email }}">

			<p>Your password has never been set yet.</p>
			<input type="submit" class="btn btn-primary" value="Set Your Password" />
		</form>
	{% endif %}
{% endblock %}
