{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% extends "social/_layouts/site" %}
{% import "social/_includes/forms" as forms %}

{% set selectedNav = 'profile' %}

{% if user is not defined %}
    {% set user = currentUser %}
{% endif %}

{% block main %}
    <h1 class="text-3xl font-bold">{{ "Profile"|t }}</h1>

    <div class="mt-6 bg-white px-12 py-8 rounded-lg shadow">
        {# Photo #}
        <div class="flex">
            <div class="">
                {% if user.photo %}
                    {% set photoUrl = user.photo.url %}
                {% else %}
                    {% set photoUrl = view.getAssetManager().getPublishedUrl('@dukt/social/icons/defaultuser.svg', true) %}
                {% endif %}

                <img src="{{ photoUrl }}" class="inline-block w-24 h-24 rounded-full" />
            </div>
            <div class="ml-6">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="users/save-user">
                    <input type="hidden" name="userId" value="{{ user.id }}">
                    {{ csrfInput() }}
                    {{ redirectInput('social/profile') }}

                    <label for="photo" class="block text-sm font-medium leading-5 text-gray-700">{{ (user.photo.url is defined ? 'Change Photo'|t : 'Upload Photo'|t) }}</label>

                    <div class="mt-2">
                        <input type="file" name="photo" value="{{ (user.photo.url is defined ? 'Change Photo'|t : 'Upload'|t) }}">
                    </div>

                    {{ forms.button({
                        type: 'submit',
                        class: 'mt-6',
                        size: 'sm',
                        value: 'Upload Photo'|t,
                    }) }}
                </form>

                {% if user.photo %}
                    <form x-data="deletePhotoForm()" id="delete-photo-form" method="post" enctype="multipart/form-data" class="mt-6" @submit.prevent="submitData">
                        <input type="hidden" name="action" value="users/delete-user-photo">
                        <input type="hidden" name="userId" value="{{ user.id }}">

                        {{ csrfInput() }}
                        {{ redirectInput('social/profile') }}

                        {{ forms.button({
                            type: 'submit',
                            style: 'danger',
                            class: 'mt-6',
                            size: 'xs',
                            value: 'Delete Photo'|t,
                        }) }}
                    </form>
                {% endif %}
            </div>
        </div>

        <hr class="mt-8 border-gray-200">

        {# Profile #}
        <form method="post" enctype="multipart/form-data" class="mt-8">
            <input type="hidden" name="action" value="users/save-user">
            <input type="hidden" name="userId" value="{{ user.id }}">
            {{ csrfInput() }}
            {{ redirectInput('social/profile') }}

            <div class="">
                    {{ forms.textField({
                        class: 'w-full',
                        label: "First Name"|t,
                        id: "firstName",
                        name: "firstName",
                        value: user.firstName,
                        errors: user.getErrors('firstName')
                    }) }}
                    {{ forms.textField({
                        fieldClass: 'mt-2',
                        class: 'w-full',
                        label: "Last Name"|t,
                        id: "lastName",
                        name: "lastName",
                        value: user.lastName,
                        errors: user.getErrors('lastName')
                    }) }}
            </div>

            {% if user['gender'] is defined %}
                {{ forms.textField({
                    fieldClass: 'mt-2',
                    class: 'w-full',
                    label: "Gender"|t,
                    id: "gender",
                    name: "fields[gender]",
                    value: user.gender,
                    errors: user.getErrors('gender')
                }) }}
            {% endif %}

            {% if user['location'] is defined %}
                {{ forms.textField({
                    fieldClass: 'mt-2',
                    class: 'w-full',
                    label: "Location"|t,
                    id: "location",
                    name: "fields[location]",
                    value: user.location,
                    errors: user.getErrors('location')
                }) }}
            {% endif %}

            {{ forms.button({
                type: 'submit',
                style: 'submit',
                class: 'mt-6',
                value: 'Save'|t,
            }) }}
        </form>
    </div>
{% endblock %}

{% js %}
    window.deletePhotoForm = function() {
        return {
            submitData() {
                var form = document.querySelector('#delete-photo-form');
                var data = new FormData(form);

                fetch('{{ actionUrl('users/delete-user-photo') }}', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                    },
                    body: data
                })
                    .then(() => {
                        location.reload()
                    })
                    .catch(() => {
                        location.reload()
                    })
            },
        }
    }
{% endjs %}


