{% if currentUser %}
    {% redirect 'social' %}
{% endif %}

{% extends "social/_layouts/site" %}

{% set title = "Login" %}

{% import "social/_includes/forms" as forms %}

{% block main %}
    <div class="">
        <div class="container mx-auto py-12">
            <div class="text-center">
                <h2 class="text-3xl font-bold">Register an account</h2>
                <p class="mt-4">Already have an account? <a
                            href="{{ url('social/login') }}">Log into your
                        account</a>.</p>
            </div>

            <div class="bg-white max-w-md mx-auto px-10 py-8 rounded-lg mt-8 shadow">
                <form method="post" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ actionInput('users/save-user') }}
                    {{ redirectInput('social') }}

                    <div class="space-y-4">
                        {{ forms.textField({
                            class: 'w-full',
                            label: "Username",
                            id: "username",
                            name: "username",
                            value: user.username ?? null,
                            errors: user.getErrors('username') ?? null,
                        }) }}

                        {{ forms.textField({
                            class: 'w-full',
                            label: "First Name",
                            id: "firstName",
                            name: "firstName",
                            value: user.firstName ?? null,
                            errors: user.getErrors('firstName') ?? null,
                        }) }}

                        {{ forms.textField({
                            class: 'w-full',
                            label: "Last Name",
                            id: "lastName",
                            name: "lastName",
                            value: user.lastName ?? null,
                            errors: user.getErrors('lastName') ?? null,
                        }) }}

                        {{ forms.textField({
                            class: 'w-full',
                            label: "Email",
                            id: "email",
                            name: "email",
                            type: 'email',
                            value: user.email ?? null,
                            errors: user.getErrors('email') ?? null,
                        }) }}

                        {{ forms.textField({
                            class: 'w-full',
                            label: "Password",
                            id: "password",
                            name: "password",
                            type: 'password',
                            value: user.password ?? null,
                            errors: user.getErrors('password') ?? null,
                        }) }}
                    </div>

                    <div class="mt-6">
                        <div class="mt-6">
                            {{ forms.button({
                                type: 'submit',
                                style: 'submit',
                                class: 'w-full',
                                value: 'Register with Craft',
                            }) }}
                        </div>
                    </div>

                    <div class="text-center text-sm mt-6 text-gray-500">Or register with…</div>

                    {% include 'social/_includes/social-login-buttons' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

